figure.QR
	img(src='./img/wechat.jpg',alt='Heon_Gu')
section.title
	h1 古雄洪
	h2 前端开发工程师
address
	ul.contact
		li.contact-phone.icon-phone  15913130675
		li.contact-email.icon-mail4
			a(href='mailto://514720858@qq.com',title='Email')  514720858@qq.com
		li.contact-github.icon-github
			a(href='https://github.com/gu-xionghong',title='Github',target = '_blank')  https://github.com/gu-xionghong
		li.contact-blog.icon-book
			a(href='http://heongu-blog.com/',title='Blog',target = '_blank')  http://heongu-blog.com
		li.contact-resume.icon-address-book
			a(href='http://gu-xionghong.github.io/resume/',title='Resume',target = '_blank')  http://gu-xionghong.github.io/resume/(在线简历)
