article.left.column.row-2
	section.about-me
		.sec-title-wrapper.icon-profile.clearfix
			h3.sec-title
				span.sec-title-ch 关于我
				span.sec-title-en About Me
		.info-wrapper
			ul.sec-content
				li.info-list.education.icon-graduate
					h3.info-title
						span 教育水平
					dl.info-content
						dt.info-content-title.education-name 华南农业大学
						dd.info-item.education-major.icon-star-full 2012级信息与计算科学
						dd.info-item.education-score.icon-star-full 成绩排名专业前30%
				li.info-list.introduction.icon-bubbles3
					h3.info-title
						span 自我介绍
					dl.info-content
						dt.info-content-title.introduction-name 好 乐 勤 理
						dd.info-item.introduction-item.icon-star-full 热爱前端，学习前端8个月，有信心及热情往更深处继续走
						dd.info-item.introduction-item.icon-star-full 性格开朗，生活中带有小幽默，乐于与人交往
						dd.info-item.introduction-item.icon-star-full 学习热情高，坚持每天学习或阅读技术性相关内容
						dd.info-item.introduction-item.icon-star-full 偏理性血统，遇事时，在感性之余更多的是会理性思考
				li.info-list.prize.icon-rocket
					h3.info-title
						span 获奖情况
					dl.info-content
						dt.info-content-title.prize-name.time 2013年 — 至今
						dd.info-item.prize-item.icon-star-full 2015年获得“甲骨文”全国Java程序设计大赛<strong>国赛三等奖</strong>
						dd.info-item.prize-item.icon-star-full 2015年获得“甲骨文”全国Java程序设计大赛<strong>华南区一等奖</strong>
						dd.info-item.prize-item.icon-star-full 2014年获学校 <strong>“优秀志愿者”</strong> 称号
						dd.info-item.prize-item.icon-star-full 2013年获学校 <strong>“三下乡优秀个人”</strong> 称号
	section.skills
		.sec-title-wrapper.icon-wrench.clearfix
			h3.sec-title
				span.sec-title-ch 技能
				span.sec-title-en Skills
		.info-wrapper
			ul.sec-content
				li.info-list.icon-cloud
					h3.info-title
						span Web前端
					dl.info-content
						dt.info-content-title.info-sec-title.time 2015/05 — 至今
						dd.info-item.icon-star-full 熟悉语义化 <strong>HTML</strong> 及 <strong>Jade、EJS、Swig</strong> 等模板引擎的使用，熟悉模块化 <strong>CSS</strong>，能熟练使用<strong> Sass、Compass </strong>，能编写出具有较好 <strong>兼容性</strong> 的页面
						dd.info-item.icon-star-full 熟悉 <strong>JavaScript、NodeJs</strong> 语法 , 了解 <strong>ES2015</strong> 基本规范，能使用 <strong>原生 JS</strong> 构建简单应用（TodoList），正在进一步学习 <strong>JS设计模式</strong>
						dd.info-item.icon-star-full 熟悉 <strong>React、Express、JQuery</strong>等技术框架，曾使用它们构建过相关项目
						dd.info-item.icon-star-full 了解 <strong>CommonJS、AMD、CMD</strong> 模块规范，曾使用 <strong>Require.js</strong> 构建小项目
						dd.info-item.icon-star-full 了解 <strong>Gulp、Webpack</strong> 等前端工具的使用，正在不断拓展自己的项目模板配置
article.right.column.row-3
	section.experience
		.sec-title-wrapper.icon-stats-dots.clearfix
			h3.sec-title
				span.sec-title-ch 实习/项目经历
				span.sec-title-en Experience
		.info-wrapper
			ul.sec-content
				li.info-list.icon-cogs
					h3.info-title
						span UC优视/实习
						a.experience-link.demo-link.icon-cloud2(href = 'http://go.ucweb.com/preview/2259?',target='_blank') Demo
					dl.info-content
						dt.info-content-title.info-sec-title.info-sec-time 2015/09 — 2015/11
						dd.info-item.icon-star-full 编写 <strong>Node爬虫</strong> 爬取国外网站数据
						dd.info-item.icon-star-full 修复基于 <strong>Koajs</strong> 框架制作的旧版爬虫系统bug，升级数据监控系统
						dd.info-item.icon-star-full 为三星手机自带浏览器制作导航页 <strong>↗️</strong>，运用 <strong>Express、EJS、Sty-lus</strong> 等框架工具，模仿 <strong>lego</strong> 玩具模式，以 <strong>组件化</strong> 形式制作 <strong>浏览器导航模块</strong>，实现模块的 <strong>拼接化</strong> 及数据的 <strong>可操作化</strong>，大大降低运营成本
				li.info-list.icon-cogs
					h3.info-title
						span 网易游戏/外包
						a.experience-link.demo-link.icon-cloud2(href = '',target='_blank') Demo
					dl.info-content
						dt.info-content-title.info-sec-title.info-sec-time 2015/10 — 2015/11
						dd.info-item.icon-star-full 根据外包项目需求实现 <strong>页面开发</strong>，利用 <strong>空余时间</strong> (实习下班后及周末)，每周完成需求 <strong>2-3个</strong>
						dd.info-item.icon-star-full PC端页面兼容 <strong>IE7+</strong>，移动端页面兼容 <strong>大部分机型</strong>
						dd.info-item.icon-star-full 部分页面预览点击 <strong>↗️</strong>
				li.info-list.icon-cogs
					h3.info-title
						span 多益网络/实习
						a.experience-link.demo-link.icon-cloud2(href = '') Demo
					dl.info-content
						dt.info-content-title.info-sec-title.info-sec-time 2015/12 — 2016/02
						dd.info-item.icon-star-full 从零开始搭建一个 <strong>Web App</strong>，主要功能为图片分享
						dd.info-item.icon-star-full 使用 <strong>Express</strong> 搭建服务器, <strong>Mysql</strong> 作为数据库, 使用 <strong>React、R-edux、React-Router</strong> 等实现前后端同构,项目使用 <strong>ES6语法</strong> 编写，采用 <strong>Webpack</strong> 进行项目打包
						dd.info-item.icon-star-full 除数据库方面，其他部分内容基本由本人一人完成，现 app 还处于 <strong>测试阶段</strong>，故不便透露过多相关信息，望理解
				li.info-list.icon-cogs
					h3.info-title
						span 百度Ife/项目
						a.experience-link.demo-link.icon-cloud2(href = 'http://gu-xionghong.github.io/WikiNote/',target='_blank') Demo
						a.experience-link.project-link.icon-cloud2(href = 'https://github.com/FrontSeat/WikiNote',target='_blank') 源代码
					dl.info-content
						dt.info-content-title.info-sec-title WikiNote
						dd.info-item.icon-star-full 百度 Ife 夏令营 RIA 启航任务，<strong>在线富文本编辑器</strong>，Web App 实现响应式界面,笔记的增删查改及分类,支持 <strong>Markdown</strong> 编辑
						dd.info-item.icon-star-full 使用 <strong>Sass</strong> 生成 <strong>响应式</strong> 页面, <strong>RequireJS</strong> 加载模块， <strong>Gulp</strong> 驱动页面生成、架设本地服务器, <strong>Karma</strong> 跑 <strong>Jasmine </strong>测试单元进行数据测试，<strong>localStorage</strong> 实现本地存储
						dd.info-item.icon-star-full Web App 使用 <strong>JQuery、Iscroll、Fastclick</strong> 等框架实现页面逻辑
						dd.info-item.icon-star-full 移动端采用 <strong>rem布局</strong> ，通过JS实现 <strong>自适应</strong> 页面
						dd.info-item.icon-star-full 使用 <strong>Github</strong> 进行团队合作及版本管理
				li.info-list.icon-cogs
					h3.info-title
						span 其他
						a.experience-link.demo-link.icon-cloud2(href = 'https://github.com/gu-xionghong/',target='_blank') Github
					dl.info-content
						dt.info-content-title.info-sec-title Other Projects
						dd.info-item.icon-star-full <strong>Blog</strong>，基于 <strong>Nodejs</strong> 打包的<strong> 个人静态博客 </strong>(后续主更)
						dd.info-item.icon-star-full <strong>Technode</strong>，基于 <strong>Angular.js、Socket.io</strong> 构建的简单在线聊天室
						dd.info-item.icon-star-full <strong>NetEase-Test</strong>，网易微专业课程作业，基于数据交互的页面实现
						dd.info-item.icon-star-full <strong>More in my github ↗️</strong>，包括React及Node的学习demo、Web课程设计电影评论系统页面、Web点餐系统阉割版本、个人组件库、个人项目模板配置等
