doctype html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
head
	meta(charset='utf-8')
<<<<<<< HEAD
	title HeonGu_Resume
	link(href='./css/font.css',rel='stylesheet',type='text/css')
=======
	title GuXionghong_Resume
	link(href='https://fonts.googleapis.com/css?family=Open+Sans',rel='stylesheet',type='text/css')
>>>>>>> 2e058096da65cfbe18d089a6a43a49e743f64d9a
	link(rel='stylesheet',type='text/css',href='./css/style.css')
	<!--[if lte IE 8]><div class="lte-ie8-container"><p class="lte-ie8-comment">你正在使用 IE8 或更老的浏览器，还是快升级或者换浏览器吧~</p></div><![endif]-->
body
	.container
		header.row.clearfix
			include header
		article#article.row.clearfix
			include article
	footer
</html>
